{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Consultar Venta</h2>
    {% if ventas.exists %}
        {% for venta in ventas %}
            <table class="table">
                <tr>
                    <th>ID:</th>
                    <td>{{ venta.id }}</td>
                </tr>
                <tr>
                    <th>Producto:</th>
                    <td>{{ venta.nombre_Producto }}</td>
                </tr>
                <tr>
                    <th>Precio:</th>
                    <td>{{ venta.precio_Producto }}</td>
                </tr>
                <tr>
                    <th>Cantidad:</th>
                    <td>{{ venta.cantidad_Venta }}</td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td>{{ venta.total_Venta_Realizada }}</td>
                </tr>
                <tr>
                    <th>Fecha:</th>
                    <td>{{ venta.fecha_Apertura }}</td>
                </tr>
                <tr>
                    <th>Estado:</th>
                    <td>{{ venta.estado|yesno:"Activo,Inactivo" }}</td>
                </tr>
            </table>
            <a href="{% url 'editar_venta' venta.id %}" class="btn btn-primary">Editar</a>
        {% endfor %}
    {% else %}
        <p>No se encontró ninguna venta con ese ID.</p>
    {% endif %}
    <a href="{% url 'gestionar_ventas' %}" class="btn btn-secondary mt-3">Volver</a>
</div>
{% endblock %}
