{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Consultar Producto</h2>
    {% if producto %}
        <table class="table">
            <tr>
                <th>ID:</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Marca:</th>
                <td>{{ producto.Marca.nombre }}</td>
            </tr>
            <tr>
                <th>Categoría:</th>
                <td>{{ producto.Categoria.nombre }}</td>
            </tr>
            <tr>
                <th>Precio:</th>
                <td>{{ producto.precio }}</td>
            </tr>
            <tr>
                <th>Presentación:</th>
                <td>{{ producto.Presentacion.nombre }}</td>
            </tr>
            <tr>
                <th>Unidad de Medida:</th>
                <td>{{ producto.unidad_De_Medida }}</td>
            </tr>
            <tr>
                <th>Estado:</th>
                <td>{% if producto.estado %}Activo{% else %}Inactivo{% endif %}</td>
            </tr>
        </table>
        <a href="{% url 'editar_producto' producto.id %}" class="btn btn-primary">Editar</a>
    {% else %}
        <p>No se encontró ningún producto con ese nombre.</p>
    {% endif %}
    <a href="{% url 'gestionar_productos' %}" class="btn btn-secondary mt-3">Volver</a>
</div>
{% endblock %}