{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Consultar Marca</h2>
    {% if marca %}
        <table class="table">
            <tr>
                <th>ID:</th>
                <td>{{ marca.id }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ marca.nombre }}</td>
            </tr>
            <tr>
                <th>Estado:</th>
                <td>{{ marca.estado|yesno:"Activo,Inactivo" }}</td>
            </tr>
            <tr>
                <th>Logo:</th>
                <td>
                    {% if marca.logoTipo %}
                    <img src="{{ marca.logoTipo.url }}" alt="{{ marca.nombreMarca }}" style="width: 100px; height: 100px;">
                    {% else %}
                    Sin logo
                    {% endif %}
                </td>
            </tr>
        </table>
        <a href="{% url 'editar_marca' marca.id %}" class="btn btn-primary">Editar</a>
    {% else %}
        <p>No se encontró ninguna marca con ese nombre.</p>
    {% endif %}
    <a href="{% url 'gestionar_marca' %}" class="btn btn-secondary mt-3">Volver</a>
</div>
{% endblock %}