{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Consultar Compra</h2>
    {% if compras %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Proveedor</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for compra in compras %}
                <tr>
                    <td>{{ compra.id }}</td>
                    <td>{{ compra.fecha_Compra }}</td>
                    <td>{{ compra.total_Compra }}</td>
                    <td>{{ compra.proveedor_Id.nombre }}</td>
                    <td>
                        {% if compra.estado %}
                            Activa
                        {% else %}
                            Inactiva
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron compras que coincidan con los criterios de búsqueda.</p>
    {% endif %}
    <a href="{% url 'gestionar_compra' %}" class="btn btn-secondary mt-3">Volver</a>
</div>
{% endblock %}
