{% extends 'base.html' %}

{% block content %}
<h2>Gestionar Compras</h2>

<a href="{% url 'añadir_compra' %}" class="btn btn-primary mb-3">Añadir Compra</a>

<div class="mb-3">
    <h3>Consultar Compra</h3>
    <form method="post" action="{% url 'consultar_compra' %}">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" name="id_compra" class="form-control" placeholder="ID de Compra">
            <button type="submit" class="btn btn-secondary">Buscar</button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Proveedor</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for compra in compras %}
        <tr>
            <td>{{ compra.id }}</td>
            <td>{{ compra.fecha_Compra }}</td>
            <td>{{ compra.total_Compra }}</td>
            <td>{{ compra.proveedor_Id.nombre }}</td>
            <td>
                {% if compra.estado %}
                    Activa
                {% else %}
                    Inactiva
                {% endif %}
            </td>
            <td>
                <a href="{% url 'editar_compra' compra.id %}" class="btn btn-sm btn-primary">Editar</a>
                <a href="{% url 'activar_inactivar_compra' compra.id %}" class="btn btn-sm btn-secondary">
                    {% if compra.estado %}Inactivar{% else %}Activar{% endif %}
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
