{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Consultar Presentación</h2>
    {% if presentacion %}
        <table class="table">
            <tr>
                <th>ID:</th>
                <td>{{ presentacion.id }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ presentacion.nombre }}</td>
            </tr>
            <tr>
                <th>Precio de Venta:</th>
                <td>{{ presentacion.precio_venta }}</td>
            </tr>
            <tr>
                <th>Precio de Compra:</th>
                <td>{{ presentacion.precio_compra }}</td>
            </tr>
            <tr>
                <th>Cantidad en Stock:</th>
                <td>{{ presentacion.cantidad_Stock }}</td>
            </tr>
            <tr>
                <th>Unidades por Paquete:</th>
                <td>{{ presentacion.unidades_Paquete }}</td>
            </tr>
            <tr>
                <th>Estado:</th>
                <td>{{ presentacion.estado|yesno:"Activo,Inactivo" }}</td>
            </tr>
        </table>
        <a href="{% url 'editar_presentacion' presentacion.id %}" class="btn btn-primary">Editar</a>
    {% else %}
        <p>No se encontró ninguna presentación con ese nombre.</p>
    {% endif %}
    <a href="{% url 'gestionar_presentacion' %}" class="btn btn-secondary mt-3">Volver</a>
</div>
{% endblock %}